{% extends 'base.html' %}
{% load static %}

{% block titile %} My Children {% endblock titile %}


{% block body %}


			
			<!-- Breadcrumb -->
			<div class="breadcrumb-bar">
				<div class="container-fluid">
					<div class="row align-items-center">
						<div class="col-md-12 col-12">
							<nav aria-label="breadcrumb" class="page-breadcrumb">
								<ol class="breadcrumb">
									<li class="breadcrumb-item"><a href="index-2.html">Home</a></li>
									<li class="breadcrumb-item active" aria-current="page">My Patients</li>
								</ol>
							</nav>
							<h2 class="breadcrumb-title">My Patients</h2>
						</div>
					</div>
				</div>
			</div>
			<!-- /Breadcrumb -->
			
			<!-- Page Content -->
			<div class="content">
				<div class="container-fluid">

					<div class="row">
						<div class="col-md-5 col-lg-4 col-xl-3 theiaStickySidebar">
						
							<!-- Profile Sidebar -->
							{% include 'partials/doctor_profile_sidebar.html' %}
							<!-- /Profile Sidebar -->
							
						</div>
						<div class="col-md-7 col-lg-8 col-xl-9">
						
							<div class="row row-grid">
								{% for child in doctor_children %}
								
								<div class="col-md-6 col-lg-4 col-xl-3">
									<div class="card widget-profile pat-widget-profile">
										<div class="card-body">
											<div class="pro-widget-content">
												<div class="profile-info-widget">
													<div class="profile-det-info">
														<h3><a href="{{child.get_absolute_url}}">{{ child.first_name }} {{ child.last_name }}</a></h3>
														
														<div class="patient-details">
															<h5><b>BIRTH NO :</b> {{ child.birth_no }}</h5>
															<h5 class="mb-0"><i class="fas fa-map-marker-alt"></i> {{ child.resident_county }}</h5>
														</div>
													</div>
												</div>
											</div>
											<div class="patient-info">
												<ul>
													<li>Phone <span>{{ child.parent.phone_no }}</span></li>
													
													<li>DOB <span>{{ child.date_of_birth|date:'d M Y' }}</span></li>
												</ul>
											</div>
										</div>
									</div>
								</div>
								
								
								{% endfor %}
								
								
								
							</div>

						</div>
					</div>

				</div>

			</div>		
			<!-- /Page Content -->
   

{% endblock body %}